1. What are data structures, and why are they important?

    Data structures are ways to store and organize data so it can be used efficiently.
    Why are They Important?
- Faster access & processing

- Better memory usage

- Solve complex problems easily

- Essential for coding interviews & real-world apps


2. Explain the difference between mutable and immutable data types with examples?

  Mutable = Can change the same object.

Immutable = Can’t change the object; creates a new one.

3. What are the main differences between lists and tuples in Python?
  
   Use lists when you need to modify data.

   Use tuples when data should be constant and protected.

4. Describe how dictionaries store data?
   A dictionary in Python stores data as key–value pairs and uses a structure called a hash table internally.

5. Why might you use a set instead of a list in Python?
  - No Duplicates
  -  Faster Lookup
  - Efficient for Unique Items

6. What is a string in Python, and how is it different from a list?
  A string is a sequence of characters enclosed in quotes.

  It’s immutable (cannot be changed after creation).

  Feature	         String                       	List
Data Type  -    Sequence of characters	      Sequence of any data types
Mutable?	 -    ❌ No (Immutable)	           ✅ Yes (Mutable)
Syntax	   -  "hello" or 'hello'	             [1, 2, 3] or ['a', 'b']

7. How do tuples ensure data integrity in Python?
   Tuples protect your data from accidental changes and are great for storing constant, unchangeable values.

8. What is a hash table, and how does it relate to dictionaries in Python?

  A hash table is a data structure that stores key-value pairs and allows fast data retrieval.

   It uses a hash function to convert keys into an index in an internal array.

   This index points to where the value is stored.

9. Can lists contain different data types in Python?
   Yes, absolutely!

10. Explain why strings are immutable in Python?
    Strings are immutable to make Python programs faster, safer, and easier to maintain.
11. What advantages do dictionaries offer over lists for certain tasks?

    Use dictionaries when you need fast, meaningful access to data by keys; use lists for ordered sequences.

12. Describe a scenario where using a tuple would be preferable over a list?

    Imagine you’re storing GPS coordinates for a location:

location = (40.7128, -74.0060)  # Latitude and Longitude of New York City
Coordinates must remain constant — you don’t want them accidentally modified.

Using a tuple ensures the data is immutable and protected from accidental changes.

It also allows using this tuple as a dictionary key if needed.

Why Not Use a List?
Lists are mutable, so the data can be changed accidentally:

location = [40.7128, -74.0060]
location[0] = 41.0  # This changes the latitude, which might be unintended.

12. How do sets handle duplicate values in Python?

  When you add elements to a set, only unique items are kept.

  If you try to add a duplicate, the set ignores it — no error, just no change.

13. How does the “in” keyword work differently for lists and dictionaries?
    
     in Keyword with Lists:
     Checks if a value exists anywhere in the list.

     in Keyword with Dictionaries:
     Checks if the key exists in the dictionary (not the values).

14. Can you modify the elements of a tuple? Explain why or why not?
     
    No, you cannot modify the elements of a tuple in Python because tuples are immutable.

15. What is a nested dictionary, and give an example of its use case?

    A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values. This allows you to represent complex, hierarchical data structures.

16. In what situations are lists preferred over dictionaries?

  Order Matters-
  ou need to keep items in a specific sequence (lists preserve order).

  Duplicate Values Allowed-
  You want to store repeated values (lists allow duplicates; dictionaries do not allow duplicate keys).

 Simple Collections-
 You just need a simple collection of items without key-value pairs.



                      *Practical Question*


1. Write a code to create a string with your name and print it?

In [1]:
# Create a string with your name
name = "Avinash"

# Print the string
print(name)

Avinash

2. Write a code to find the length of the string "Hello World"?

In [2]:
my_string = "Hello World"
length = len(my_string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
my_string = "Python Programming"
first_three = my_string[:3]
print(first_three)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

8. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

9. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

10. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [10]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last = my_tuple[-2]
print(second_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [13]:
my_tuple = (10, 20, 5, 15)
minimum = min(my_tuple)
print(minimum)

5

14. 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [15]:
fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [20]:
person = {
    "name": "Avinash",
    "age": 25,
    "city": "Bangalore"
}

print(person)

{'name': 'Avinash', 'age': 25, 'city': 'Bangalore'}

21.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [21]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

22. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [22]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

23. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [23]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [24]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [25]:
# Creating a list
my_list = [1, 2, 3, 4]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Avinash', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Avinash', 'age': 25}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [26]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted list:", random_numbers)

Sorted list: [17, 58, 65, 85, 87]

28. Write a code to create a list with strings and print the element at the third index.

In [27]:
my_list = ["apple", "banana", "cherry", "date", "fig"]
print("Element at index 3:", my_list[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [28]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

30.  Write a code to convert a list of strings into a set.

In [29]:
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}